@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600,700,900");
/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* remember to define focus styles! */
:focus {
  outline: 0; }

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

body, html {
  background: whitesmoke;
  font-family: "Source Code Pro", cursive;
  font-weight: 200;
  overflow-x: hidden; }

.slideshow {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: none; }
  .slideshow .slideshow-image:nth-child(1) {
    background-image: url("../images/section-0-background-7.jpg"); }
  .slideshow .slideshow-image:nth-child(2) {
    background-image: url("../images/section-0-background-5.jpg"); }
  .slideshow .slideshow-image:nth-child(3) {
    background-image: url("../images/section-0-background-6.jpg"); }
  .slideshow .slideshow-image:nth-child(4) {
    background-image: url("../images/section-0-background.jpg"); }

.slideshow.active {
  display: block; }

.background-0 {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: none;
  top: 0;
  left: 0;
  background-image: url("../images/section-3-background-0.jpg");
  background-position: center;
  background-size: cover; }

.background-0.active {
  display: block; }

.background-1 {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: none;
  top: 0;
  left: 0;
  background: #577693; }

.background-1.active {
  display: block; }

.slideshow-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background: no-repeat 50% 50%;
  background-size: cover;
  animation-name: kenburns;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 24s;
  opacity: 1;
  transform: scale(1.5); }
  .slideshow-image:nth-child(1) {
    animation-name: kenburns-1;
    z-index: 3; }
  .slideshow-image:nth-child(2) {
    animation-name: kenburns-2;
    z-index: 2; }
  .slideshow-image:nth-child(3) {
    animation-name: kenburns-3;
    z-index: 1; }
  .slideshow-image:nth-child(4) {
    animation-name: kenburns-4;
    z-index: 0; }

@keyframes kenburns-1 {
  0% {
    opacity: 1;
    transform: scale(1.5); }
  1.04167% {
    opacity: 1; }
  23.95833% {
    opacity: 1; }
  26.04167% {
    opacity: 0;
    transform: scale(1); }
  100% {
    opacity: 0;
    transform: scale(1.5); }
  98.95833% {
    opacity: 0;
    transform: scale(1.52); }
  100% {
    opacity: 1; } }
@keyframes kenburns-2 {
  23.95833% {
    opacity: 1;
    transform: scale(1.5); }
  26.04167% {
    opacity: 1; }
  48.95833% {
    opacity: 1; }
  51.04167% {
    opacity: 0;
    transform: scale(1); }
  100% {
    opacity: 0;
    transform: scale(1.5); } }
@keyframes kenburns-3 {
  48.95833% {
    opacity: 1;
    transform: scale(1.5); }
  51.04167% {
    opacity: 1; }
  73.95833% {
    opacity: 1; }
  76.04167% {
    opacity: 0;
    transform: scale(1); }
  100% {
    opacity: 0;
    transform: scale(1.5); } }
@keyframes kenburns-4 {
  73.95833% {
    opacity: 1;
    transform: scale(1.5); }
  76.04167% {
    opacity: 1; }
  98.95833% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: scale(1); } }
#navigation {
  width: 100vw;
  height: 90px;
  background: whitesmoke;
  position: fixed;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  padding-top: 10px;
  z-index: 100;
  top: 0;
  left: 0; }
  #navigation .brand img {
    width: 40px;
    margin: 0 auto;
    display: block; }
  #navigation .nav {
    margin-top: 10px; }
    #navigation .nav ul {
      text-align: center; }
    #navigation .nav li {
      display: inline-block;
      margin-right: 5px;
      white-space: nowrap; }
      #navigation .nav li a {
        font-size: 0.7em;
        white-space: nowrap;
        color: #232323;
        letter-spacing: 0px;
        font-weight: 400; }
      #navigation .nav li a.active {
        color: #cc3333 !important; }
      #navigation .nav li i {
        font-size: 1.2em;
        color: #232323; }

.shopping-cart-btn {
  position: fixed;
  bottom: 25px;
  right: 15px;
  left: auto;
  top: auto;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background: #fafafa;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  padding-top: 12px;
  padding-left: 12px;
  z-index: 90;
  z-index: 150;
  transition: width 0.50s ease-in-out, height 0.50s ease-in-out, bottom 0.50s ease-in-out, right 0.50s ease-in-out, transform 0.50s ease-in-out, left 0.50s ease-in-out, top 0.50s ease-in-out; }
  .shopping-cart-btn span {
    font-size: 1.5em; }
  .shopping-cart-btn div.item-counter {
    width: 16px;
    height: 16px;
    padding-left: 5px;
    padding-top: 3px;
    border-radius: 8px;
    background: #cc3333;
    position: absolute;
    z-index: 10;
    margin-left: 16px;
    margin-top: -5px;
    color: #fafafa;
    font-family: sans-serif;
    font-size: 0.7em;
    overflow: hidden; }
  .shopping-cart-btn .wrapper {
    opacity: 0;
    width: 100%;
    height: 100%;
    transform: opacity 0.50s ease-in-out;
    position: relative; }
    .shopping-cart-btn .wrapper button {
      position: absolute;
      right: left;
      padding: 10px; }

.checkout {
  width: 100vw;
  height: 100vh;
  background: rgba(115, 115, 115, 0.8);
  top: 0;
  left: 0;
  position: fixed;
  z-index: 150;
  transition: opacity 0.25s ease-in-out;
  pointer-events: none;
  opacity: 0; }
  .checkout .content {
    width: 90%;
    height: 425px;
    background: #fafafa;
    border-radius: 50px;
    box-shadow: 0px 6px 13px rgba(0, 0, 0, 0.5);
    transform: translate(-50%, -50%) scale(0);
    top: 50%;
    left: 50%;
    position: relative;
    overflow: hidden;
    transition: transform 0.4s ease-in-out; }
    .checkout .content .header {
      padding-top: 20px;
      padding-bottom: 20px; }
      .checkout .content .header button.close-btn {
        position: absolute;
        left: 12px;
        top: 12px;
        padding: 20px;
        border-radius: 50px;
        background: none !important;
        border: none !important; }
      .checkout .content .header img {
        width: 44px;
        margin: 0 auto;
        display: block; }
    .checkout .content .body {
      width: 100%;
      height: 341px;
      border-bottom-right-radius: 50px;
      border-bottom-left-radius: 50px;
      white-space: nowrap;
      position: relative;
      transition: left 0.25s ease-in-out;
      -moz-transition: left 0.25s ease-in-out;
      -webkit-transition: left 0.25s ease-in-out;
      -o-transition: left 0.25s ease-in-out; }
      .checkout .content .body .body-section {
        width: 100%;
        height: 100%;
        display: inline-block;
        left: 0;
        position: relative;
        margin: 0;
        top: 0; }
        .checkout .content .body .body-section h4 {
          font-size: 0.75em !important;
          letter-spacing: 0px;
          text-align: center;
          margin-bottom: 20px; }
      .checkout .content .body .body-section-0 .cart-item-reel {
        width: 100%;
        height: 200px;
        overflow: hidden;
        padding: 0px 29px 0px 29px; }
        .checkout .content .body .body-section-0 .cart-item-reel .cart-item {
          position: relative;
          width: 100%;
          background: #F0F0F0;
          box-shadow: 0px 6px 13px rgba(0, 0, 0, 0.14);
          margin-bottom: 15px;
          padding: 11px 11px 11px 11px; }
          .checkout .content .body .body-section-0 .cart-item-reel .cart-item .float-right {
            float: right; }
          .checkout .content .body .body-section-0 .cart-item-reel .cart-item .margin-top {
            margin-top: 3px; }
          .checkout .content .body .body-section-0 .cart-item-reel .cart-item .cart-item-quantity-select {
            position: absolute;
            width: auto;
            height: 20px;
            top: 39px;
            opacity: 0;
            pointer-events: none;
            z-index: 20;
            transition: opacity 0.25s ease-in-out;
            -moz-transition: opacity 0.25s ease-in-out;
            -o-transition: opacity 0.25s ease-in-out;
            -webkit-transition: opacity 0.25s ease-in-out; }
            .checkout .content .body .body-section-0 .cart-item-reel .cart-item .cart-item-quantity-select .triangle {
              width: 0px;
              height: 0px;
              border-top: 17px solid transparent;
              border-bottom: 17px solid #fafafa;
              border-right: 17px solid transparent;
              border-left: 17px solid transparent;
              margin-top: -17px;
              filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.4));
              -moz-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.4));
              -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.4));
              -o-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.4)); }
            .checkout .content .body .body-section-0 .cart-item-reel .cart-item .cart-item-quantity-select .rectangle {
              width: 34px;
              height: 20px;
              background: #fafafa;
              box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.1);
              z-index: 10;
              top: -1px;
              position: relative; }
            .checkout .content .body .body-section-0 .cart-item-reel .cart-item .cart-item-quantity-select .circle-0 {
              width: 30px;
              height: 30px;
              border-radius: 15px;
              background: #cc3333;
              border: 2px solid #fafafa;
              position: absolute;
              top: 15px;
              left: -11px;
              z-index: 15;
              box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.1);
              padding: 3px 0px 0px 6px;
              font-size: 1.2em;
              color: #fafafa; }
            .checkout .content .body .body-section-0 .cart-item-reel .cart-item .cart-item-quantity-select .circle-1 {
              width: 30px;
              height: 30px;
              border-radius: 15px;
              background: #cc3333;
              border: 2px solid #fafafa;
              position: absolute;
              left: 17px;
              top: 15px;
              z-index: 15;
              box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.1);
              padding: 3px 0px 0px 6px;
              font-size: 1.2em;
              color: #fafafa; }
            .checkout .content .body .body-section-0 .cart-item-reel .cart-item .cart-item-quantity-select .circle-0:active, .checkout .content .body .body-section-0 .cart-item-reel .cart-item .cart-item-quantity-select .circle-1:active {
              background: #8F2325; }
          .checkout .content .body .body-section-0 .cart-item-reel .cart-item .cart-item-quantity-select.active {
            opacity: 1;
            pointer-events: auto; }
          .checkout .content .body .body-section-0 .cart-item-reel .cart-item .cart-item-section {
            display: inline-block;
            white-space: nowrap; }
          .checkout .content .body .body-section-0 .cart-item-reel .cart-item .cart-item-quantity {
            width: 34px;
            height: 27px;
            background: #fafafa;
            font-weight: bold !important;
            font-size: 0.9em;
            color: #232323 !important;
            text-align: center;
            padding-top: 5px; }
          .checkout .content .body .body-section-0 .cart-item-reel .cart-item .cart-item-name {
            font-size: 0.75em;
            font-weight: 400; }
          .checkout .content .body .body-section-0 .cart-item-reel .cart-item .cart-item-price {
            font-size: 0.75em;
            font-weight: 600; }
          .checkout .content .body .body-section-0 .cart-item-reel .cart-item .cart-item-delete div {
            width: 18px;
            height: 18px;
            border-radius: 9px;
            background: #cc3333;
            position: relative;
            font-size: 0.65em;
            color: white;
            text-align: center;
            padding-top: 3px;
            padding-right: 1px; }
      .checkout .content .body .body-section-0 .footer {
        width: 100%;
        height: 109px;
        border-bottom-right-radius: 50px;
        border-bottom-left-radius: 50px;
        padding: 10px 29px 29px 29px; }
        .checkout .content .body .body-section-0 .footer p {
          font-size: 0.9em;
          font-weight: 400; }
          .checkout .content .body .body-section-0 .footer p .subtotal {
            font-weight: bold !important; }
          .checkout .content .body .body-section-0 .footer p .subtotal-amount {
            float: right; }
        .checkout .content .body .body-section-0 .footer button {
          width: 100%;
          padding: 14px 0px 14px 0px;
          font-weight: bold;
          font-size: 0.9em;
          color: white;
          border: none !important;
          border-radius: 6px;
          box-shadow: 0px 6px 13px rgba(0, 0, 0, 0.5);
          margin-top: 10px;
          background: linear-gradient(180deg, #cc3333, #892a2a); }
      .checkout .content .body .body-section-1 {
        background: pink;
        margin-left: -10px; }
    .checkout .content .body.secondary {
      left: -100%; }

.checkout.active {
  opacity: 1;
  pointer-events: auto; }
  .checkout.active .content {
    transform: translate(-50%, -50%) scale(1); }

.section {
  padding-top: 75px;
  padding-bottom: 75px;
  z-index: 10; }
  .section h1 {
    font-size: 2.3em;
    text-align: center;
    font-weight: 300;
    letter-spacing: 5px;
    position: relative;
    z-index: 50; }

#section-0 {
  height: 400px;
  width: 100vw;
  margin-top: 90px;
  background: transparent;
  position: relative;
  z-index: 10; }
  #section-0 img.graphic-0 {
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.7)); }
  #section-0 .section-0-header {
    text-align: center;
    z-index: 10;
    position: relative;
    transform: translate(0, -50%);
    top: 50%; }
    #section-0 .section-0-header div {
      text-align: left;
      display: inline-block; }
      #section-0 .section-0-header div h1 {
        opacity: 0;
        position: relative;
        font-family: "Source Code Pro", cursive;
        color: #f0f0f0;
        font-size: 2.4em;
        font-weight: 300;
        text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.8); }
  #section-0 .section-0-footer {
    position: absolute;
    bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    left: 50%;
    transform: translate(-50%, 0); }
    #section-0 .section-0-footer p {
      font-size: 0.8em;
      letter-spacing: -1px;
      color: #fafafa;
      font-weight: 100;
      text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.9);
      padding: 5px 10px 5px 10px;
      background: rgba(25, 25, 25, 0.5);
      border-radius: 50px;
      text-align: center;
      white-space: nowrap;
      box-shadow: 0px 6px 13px rgba(0, 0, 0, 0.5); }

#section-1 {
  position: relative;
  padding-bottom: 0 !important;
  background: whitesmoke;
  z-index: 10;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.3); }
  #section-1 img.graphic-0 {
    position: absolute;
    width: 200px;
    left: -50px;
    top: 150px; }
  #section-1 img.graphic-1 {
    position: absolute;
    width: 200px;
    z-index: 5;
    right: -70px;
    bottom: 50px; }
  #section-1 .menu-select {
    text-align: center;
    margin-top: 10px;
    white-space: nowrap; }
    #section-1 .menu-select .menu-choice {
      padding-top: 10px;
      padding-bottom: 10px;
      width: 60px;
      display: inline-block;
      white-space: nowrap;
      background: #c8c8c8;
      position: relative;
      z-index: 10;
      border-radius: 20px; }
      #section-1 .menu-select .menu-choice p {
        font-size: 0.7em !important;
        font-weight: 400 !important; }
    #section-1 .menu-select .menu-choice.active {
      background: #cc3333; }
      #section-1 .menu-select .menu-choice.active p {
        color: #fafafa !important; }
    #section-1 .menu-select p {
      color: #646464;
      font-weight: 200; }
      #section-1 .menu-select p select {
        border: none !important;
        background: none !important;
        width: 75px;
        padding-right: 0 !important; }
      #section-1 .menu-select p select option {
        color: red !important; }
      #section-1 .menu-select p i {
        margin-left: -25px;
        pointer-events: none; }
  #section-1 .menus-wrapper {
    margin-top: 50px;
    position: relative;
    z-index: 10; }
    #section-1 .menus-wrapper .rolls-wrapper {
      display: none; }
    #section-1 .menus-wrapper .rolls-wrapper.active {
      display: block; }
    #section-1 .menus-wrapper .bowls-wrapper {
      display: none; }
    #section-1 .menus-wrapper .bowls-wrapper.active {
      display: block; }
    #section-1 .menus-wrapper .desserts-wrapper {
      display: none; }
    #section-1 .menus-wrapper .desserts-wrapper.active {
      display: block; }
    #section-1 .menus-wrapper .drinks-wrapper {
      display: none; }
    #section-1 .menus-wrapper .drinks-wrapper.active {
      display: block; }
    #section-1 .menus-wrapper .menus {
      margin-top: 5px;
      line-height: 16px;
      position: relative;
      z-index: 10; }
    #section-1 .menus-wrapper .menu-option {
      margin-top: 25px; }
    #section-1 .menus-wrapper h3 {
      color: #4b4b4b;
      font-weight: 400;
      letter-spacing: 3px;
      font-size: 1.4em; }
    #section-1 .menus-wrapper h4 {
      color: #191919;
      font-weight: 300;
      font-size: 1.15em;
      letter-spacing: 3px; }
    #section-1 .menus-wrapper p {
      font-size: 0.8em;
      font-weight: 300; }
    #section-1 .menus-wrapper div.add-to-cart-btn {
      display: inline-block;
      float: right;
      position: relative;
      top: -2px; }
      #section-1 .menus-wrapper div.add-to-cart-btn .price {
        position: relative;
        left: 10px;
        top: -1px; }
      #section-1 .menus-wrapper div.add-to-cart-btn button {
        background: none !important;
        border: none !important;
        padding-left: 0 !important;
        padding-right: 0 !important; }
      #section-1 .menus-wrapper div.add-to-cart-btn button i {
        color: #cc3333; }

#section-2 {
  position: relative;
  background: whitesmoke;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  z-index: 11 !important; }
  #section-2 img.graphic-0 {
    position: absolute;
    width: 200px;
    left: -50px;
    top: 70px; }
  #section-2 img.graphic-1 {
    position: absolute;
    width: 200px;
    z-index: 5;
    right: -70px;
    bottom: 50px; }
  #section-2 .offers-wrapper {
    margin-top: 50px;
    position: relative;
    z-index: 50; }
    #section-2 .offers-wrapper img {
      width: 200px;
      margin: 0 auto;
      display: block;
      filter: drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.2));
      -moz-filter: drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.2));
      -webkit-filter: drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.2));
      -o-filter: drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.2)); }
    #section-2 .offers-wrapper p.offer-item {
      text-align: center; }
      #section-2 .offers-wrapper p.offer-item button {
        background: none !important;
        border: none !important; }
      #section-2 .offers-wrapper p.offer-item button i {
        color: #cc3333; }
    #section-2 .offers-wrapper .offer-item-name {
      text-align: center;
      margin-right: 35px; }
    #section-2 .offers-wrapper .row .col-sm-3:nth-child(2), #section-2 .offers-wrapper .row .col-sm-3:nth-child(3), #section-2 .offers-wrapper .row .col-sm-3:nth-child(4) {
      margin-top: 35px; }

#section-3 {
  /*
  background-image: $section-3-background-image;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;*/
  background: transparent;
  position: relative; }
  #section-3 .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(25, 25, 25, 0.3);
    top: 0;
    left: 0; }
  #section-3 h1 {
    color: #fafafa !important;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.9); }
  #section-3 .map-wrapper {
    margin-top: 25px;
    width: 100%;
    background: #e1e1e1;
    height: 250px;
    box-shadow: 0px 6px 13px rgba(0, 0, 0, 0.5);
    pointer-events: none !important; }
  #section-3 .location-wrapper {
    width: 250px;
    height: 250px;
    border-radius: 125px;
    margin: 0 auto;
    margin-top: -50px;
    background: linear-gradient(0deg, #cc3333, #FF5B5C);
    box-shadow: 0px 6px 13px rgba(0, 0, 0, 0.5);
    background-size: 100%;
    position: relative;
    z-index: 10;
    padding-top: 45px;
    text-align: center;
    color: whitesmoke;
    animation-name: float;
    animation-duration: 1.25s;
    animation-iteration-count: infinite;
    animation-direction: alternate; }
    #section-3 .location-wrapper .hr {
      width: 50%;
      height: 1px;
      background: whitesmoke;
      margin: 0 auto;
      margin-top: 15px;
      margin-bottom: 15px; }
    #section-3 .location-wrapper h6 {
      font-size: 0.8em;
      font-weight: 200; }
    #section-3 .location-wrapper h5 {
      letter-spacing: 4px;
      font-size: 0.8em;
      margin-bottom: px;
      margin-top: 15px;
      font-weight: 400; }

#section-4 {
  background-color: whitesmoke;
  position: relative;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.3); }
  #section-4 h1 {
    margin-bottom: 25px; }
  #section-4 .vertical-text {
    text-align: center;
    background-image: url("../images/section-4-background-1.png");
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat; }
    #section-4 .vertical-text .background-text {
      background: rgba(250, 250, 250, 0.7);
      box-shadow: 0px 6px 13px rgba(0, 0, 0, 0.5);
      width: 150px;
      height: auto;
      padding-top: 15px;
      padding-bottom: 15px;
      margin-left: 25px;
      position: relative;
      animation-name: float;
      animation-duration: 1.25s;
      animation-iteration-count: infinite;
      animation-direction: alternate; }
    #section-4 .vertical-text p {
      font-weight: 300;
      font-size: 1.25em; }
    #section-4 .vertical-text span {
      color: #cc3333;
      font-weight: 400; }
  #section-4 .about-text {
    margin-top: 35px;
    text-align: center; }
    #section-4 .about-text p {
      font-size: 0.9em;
      color: #7d7d7d;
      line-height: 17px; }

footer {
  height: 200px;
  width: 100vw;
  background: whitesmoke;
  position: relative;
  z-index: 10; }
  footer div.background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, whitesmoke, rgba(164, 191, 219, 0.4)); }
  footer img {
    position: absolute;
    width: 1000px;
    display: block;
    transform: translate(-50%, 0);
    left: 50%;
    bottom: 0;
    margin-left: -2px; }
  footer .social-media {
    position: absolute;
    top: 0;
    height: 70px;
    width: 100%;
    text-align: center;
    padding-top: 40px; }
    footer .social-media button {
      background: none !important;
      border: none !important;
      padding: none !important;
      display: inline-block; }
      footer .social-media button i {
        font-size: 1.2em;
        color: #646464; }
  footer .credit-line {
    width: 100vw;
    padding: 8px 0px 8px 0px;
    position: absolute;
    bottom: 0;
    left: 0; }
    footer .credit-line p {
      font-size: 0.7em;
      text-align: center; }
      footer .credit-line p a {
        color: inherit !important;
        font-style: italic; }

@keyframes float {
  0% {
    top: -2px; }
  100% {
    top: 2px; } }

/*# sourceMappingURL=main.css.map */
