@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600,700,900');
@import "_reset.scss";
@import "_variables.scss";
@import "_mixins.scss";

//---------------------
//	     Global
//---------------------
body, html {
	background: rgb(245, 245, 245);
	font-family: $main-font-family;
	font-weight: $main-font-weight;
	overflow-x: hidden;
}

//---------------------
//	   Navigation
//---------------------
#navigation {
	width: 100vw;
	height: $navigation-height-xs;
	background: $navigation-background-color;
	position: fixed;
	box-shadow: $navigation-box-shadow;
	padding-top: 10px;
	z-index: 100;
	top: 0;
	left: 0;
	.brand {
		img {
			width: 40px;
			margin: 0 auto;
			display: block;
		}
	}
	.nav {
		margin-top: 10px;
		ul {
			text-align: center;
		}
		li {
			display: inline-block;
			margin-right: 5px;
			white-space: nowrap;
			a {
				font-size: 0.7em;
				white-space: nowrap;
				color: $navigation-font-color;
				letter-spacing: $navigation-letter-spacing;
				font-weight: $navigation-font-weight;
			}
			i {
				font-size: 1.2em;
				color: $navigation-font-color;
			}
		}
	}
}

.shopping-cart {
	position: fixed;
	bottom: 15px;
	right: 15px;
	left: auto;
	top: auto;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	background: rgb(250, 250, 250);
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
	padding-top: 12px;
	padding-left: 12px;
	z-index: 90;
	z-index: 150;
	transition: width 0.50s ease-in-out, height 0.50s ease-in-out, bottom 0.50s ease-in-out, right 0.50s ease-in-out, transform 0.50s ease-in-out, left 0.50s ease-in-out, top 0.50s ease-in-out;
	span {
		font-size: 1.5em;
	}
	div.item-counter {
		width: 16px;
		height: 16px;
		padding-left: 5px;
		padding-top: 3px;
		border-radius: 8px;
		background: $primary-color;
		position: absolute;
		z-index: 10;
		margin-left: 16px;
		margin-top: -5px;
		color: rgb(250, 250, 250);
		font-family: sans-serif;
		font-size: 0.7em;
		overflow: hidden;
	}
	.wrapper {
		// display: none;
		opacity: 0;
		width: 100%;
		height: 100%;
		transform: opacity 0.50s ease-in-out;
		position: relative;
		button {
			position: absolute;
			right: left;
			padding: 10px;
		}
	}
}

.shopping-cart.expanded {
	bottom: 50%;
	right: 50%;
	transform: translate(50%, 50%);
	height: 80vh;
	width: 90vw;
	span.glyphicon {
		display: none;
	}
	div.item-counter {
		display: none;
	}
	.wrapper {
		opacity: 1;
	}
}

//---------------------
//	   	  Body
//---------------------
// Global
.section {
	padding-top: $section-padding-xs;
	padding-bottom: $section-padding-xs;
	h1 {
		font-size: $h1-font-size;
		text-align: center;
		font-weight: $h1-font-weight;
		letter-spacing: $h1-letter-spacing;
		position: relative;
		z-index: 50;
	}
}

// Section 0
#section-0 {
	height: $section-0-height-xs;
	width: 100vw;
	margin-top: $navigation-height-xs;
	background-image: $section-0-background-image;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	.title {
		// opacity: 0;
	}
	img.graphic-0 {
		width: 200px;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.7));
	}
	.section-0-header {
		text-align: center;
		z-index: 10;
		position: relative;
		transform: translate(0, -50%);
		top: 50%;
		div {
			text-align: left;
			display: inline-block;
			h1 {
				opacity: 0;
				position: relative;
				font-family: $section-0-h1-font-family;
				color: $section-0-h1-color;
				font-size: $section-0-h1-font-size-xs;
				font-weight: $section-0-h1-font-weight;
				text-shadow: $section-0-h1-text-shadow;
			}
		}
	}
	.section-0-footer {
		position: absolute;
		bottom: 0;
		padding-top: 25px;
		padding-bottom: 25px;
		width: 100%;
		text-align: center;
		p {
			font-size: $section-0-p-font-size;
			letter-spacing: $section-0-p-letter-spacing;
			color: $section-0-p-font-color;
			font-weight: $section-0-p-font-weight;
			text-shadow: $section-0-p-text-shadow;
		}
	}
}

// Section 1
#section-1 {
	position: relative;
	padding-bottom: 0 !important;
	img.graphic-0 {
		position: absolute;
		width: 200px;
		// z-index: -1;
		left: -50px;
		top: 150px;
	}
	img.graphic-1 {
		position: absolute;
		width: 200px;
		z-index: 5;
		right: -70px;
		bottom: 50px;
	}
	.menu-select {
		text-align: center;
		margin-top: 10px;
		p {
			color: $subheader-font-color;
			font-weight: $subheader-font-weight;
			select {
				border: none !important;
				background: none !important;
				width: 75px;
				padding-right: 0 !important;
			}
			select option {
				color: red !important;
			}
			i {
				margin-left: -25px;
				pointer-events: none;
			}
		}
	}
	.menus-wrapper {
		margin-top: 50px;
		position: relative;
		z-index: 10;
		.rolls-wrapper {
			display: none;
		}
		.rolls-wrapper.active {
			display: block;
		}
		.bowls-wrapper {
			display: none;
		}
		.bowls-wrapper.active {
			display: block;
		}
		.desserts-wrapper {
			display: none;
		}
		.desserts-wrapper.active {
			display: block;
		}
		.drinks-wrapper {
			display: none;
		}
		.drinks-wrapper.active {
			display: block;
		}
		.menus {
			margin-top: 5px;
			line-height: 16px;
			position: relative;
		z-index: 10;
		}
		.menu-option {
			margin-top: 25px;
		}
		h3 {
			color: $section-1-h3-color;
			font-weight: $section-1-h3-font-weight;
			letter-spacing: $h3-letter-spacing;
			font-size: $section-1-h3-font-size;
		}
		h4 {
			color: $section-1-h4-color;
			font-weight: $section-1-h4-font-weight;
			font-size: $section-1-h4-font-size;
			letter-spacing: $h3-letter-spacing;
		}
		p {
			font-size: $section-1-p-font-size;
			font-weight: $section-1-p-font-weight;
		}
		div.add-to-cart-btn {
			display: inline-block;
			float: right;
			position: relative;
			top: -2px;
			.price {
				position: relative;
				left: 10px;
				top: -1px;
			}
			button {
				background: none !important;
				border: none !important;
				padding-left: 0 !important;
				padding-right: 0 !important;
			}
			button i {
				color: $primary-color;
			}
		}
	}
}

// Section 2
#section-2 {
	position: relative;
	img.graphic-0 {
		position: absolute;
		width: 200px;
		// z-index: -1;
		left: -50px;
		top: 70px;
	}
	img.graphic-1 {
		position: absolute;
		width: 200px;
		z-index: 5;
		right: -70px;
		bottom: 50px;
	}
	.offers-wrapper {
		margin-top: 50px;
		position: relative;
		z-index: 50;
		img {
			width: 200px;
			margin: 0 auto;
			display: block;
		}
		p.offer-item {
			text-align: center;
			button {
				background: none !important;
				border: none !important;
			}
			button i {
				color: $primary-color;
			}
		}
		.offer-item-name {
			text-align: center;
			margin-right: 35px;
		}
		.row .col-sm-3:nth-child(2), .row .col-sm-3:nth-child(3), .row .col-sm-3:nth-child(4) {
			margin-top: 35px;
		}
	}
}


